.memory-game {
    display: grid;
    color: black;
    grid-template-columns: repeat(4, 100px); /* 4 oszlop */
    grid-gap: 10px;
  }
  
  .card {
    width: 100px;
    height: 100px;
    background-color: #DDD;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .card.flipped {
    background-color: #FFF;
  }
  