.zold{
    background-color: green;
    text-align: center;
    color: white;
    width: 120px;
    height: 50px;
    margin: 30px;
}
.kek{
    background-color: blue;
    text-align: center;
    color: white;
    width: 120px;
    height: 50px;
    margin: 30px;
}
.orang{
    background-color: orange;
    text-align: center;
    color: white;
    width: 120px;
    height: 50px;
    margin: 30px;
}